*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  margin: 0;
  color: var(--color-text);
  background: var(--color-background);
  transition: color 0.2s, background-color 0.2s;
  line-height: 1;
  font-family: 'Commissioner', sans-serif;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.font-title {
  font-size: clamp(1.25rem, 1.0073rem + 1.0356vw, 2.25rem);
  font-weight: 600;
  line-height: 100%;
  font-family: 'Open Sans', sans-serif;
}

.font-subtitle {
  font-size: clamp(1.125rem, 1.0036rem + 0.5178vw, 1.625rem);
  font-weight: 600;
  line-height: 100%;
  font-family: 'Open Sans', sans-serif;
}

.font-price {
  font-size: clamp(1.125rem, 1.0036rem + 0.5178vw, 1.625rem);
  font-weight: 600;
  line-height: 100%;
  font-family: 'Commissioner', sans-serif;
}

.page {
  padding: 0 16px 60px 16px;
}

table {
  width: 100%;
}

button {
  background: transparent;
  border: none;
  padding: 0;
  margin: 0;
  font: inherit; /* Inherit font-family and size from parent */
  color: inherit; /* Inherit text color from parent */
  cursor: pointer;
  outline: none; /* Be sure to replace with custom :focus styles */

  /* Fixes for specific browsers */
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

/*--breakpoint-sm: 375px;*/
/*--breakpoint-md: 834px;*/
/*--breakpoint-lg: 1194px;*/
/*--breakpoint-xl: 1440px;*/
/*--breakpoint-2xl: 1920px;*/

@media (max-width: 833px) {
  html {
    font-size: 16px;
  }

  .font-title {
    font-size: 20px;
  }

  .font-subtitle {
    font-size: 18px;
  }
}

@media (min-width: 834px) and (max-width: 1193px) {
  html {
    font-size: 18px;
  }

  .font-title {
    font-size: 24px;
  }

  .font-subtitle {
    font-size: 20px;
  }
}

@media (min-width: 1194px) and (max-width: 1439px) {
  html {
    font-size: 18px;
  }

  .font-title {
    font-size: 24px;
  }

  .font-subtitle {
    font-size: 22px;
  }
}

@media (min-width: 1440px) and (max-width: 1919px) {
  html {
    font-size: 22px;
  }

  .font-title {
    font-size: 28px;
  }

  .font-subtitle {
    font-size: 28px;
  }
}

@media (min-width: 1920px) {
  html {
    font-size: 28px;
  }

  .font-title {
    font-size: 36px;
  }

  .font-subtitle {
    font-size: 36px;
  }
}
