:root {
  --text-color: #000000;
  --text-secondary: #909090;
  --primary-color: #083069;
  --secondary-color: #878787;
  --delete-color: #BF2F2F;
  --lighten-color: #F9F9FB;
  --line-color:  #000000;
  --text-selection: #083069;
  --text-selection-danger: #BF2F2F;
}
